.search-box {
    .input-search {
        margin-right: 1em;
        color: #FFFFFF;

        label.Mui-focused {

            color:#F65261;
        }
        .MuiOutlinedInput-root {
            fieldset {
                border-color: #FFFFFF;
                border-width: 1px;

            }
            input {
                color: #FFFFFF;       

            }
        }
    }

    .header-search {
        font-weight: 300;
        font-size: 40px;
        line-height: 49px;
        margin-left: .5em;
    }
}

.text-header {
    color:#F65261;

}